<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputFecha" class="col-form-label">Crear Alarma</label>
        </div>
        <div class="col-auto">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">

            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active">Clásica</a></li>
              <li><a class="dropdown-item">Nota de Voz</a></li>
              <li><a class="dropdown-item">Reconocimiento por Voz</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputFecha" class="col-form-label">Fecha</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputFecha" class="form-control">
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputRepetir" class="col-form-label">Repetir</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputRepetir" class="form-control">
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputDescripcion" class="col-form-label">Descripcion</label>
        </div>
        <div class="col-auto">
          <input type="text" id="inputDescripcion" class="form-control">
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <button type="button" class="btn btn-primary btn-lg">Cancelar</button>
          <button type="button" class="btn btn-secondary btn-lg">Crear </button>
        </div>
      </div>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>
