.bestDitem-celda {
  display:table-cell;
  min-width: 150px;
  min-height: 75px;
  padding: 0px 10px 20px 10px;

  label{
    display: block;
  }

  p{
    display: block;
  }

  .activo{
    color: white;
    background-color: green;
    border-radius: 50%;
  }

  .inactivo{
    color: white;
    background-color: red;
    border-radius: 50%;
  }
}


