<div class="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="isPrincipalHeader">
          Bienvenido a TALK TO ME
        </h1>
      </div>
      <div class="col">
        <div class="banner_img">
          <img src="../assets/imagenes/web_1.jpg" alt="Web_1" width="800" class="">
        </div>
      </div>
      <div class="col isSecondColumn">
        <div class="row">
          <p class="subText1">
            Crea, modifica, visualiza y organiza tu vida diaria con alarmas.
          </p>
        </div>
        <div class="row">
          <p class="subTitle1">
            Resumen del Día
          </p>
          <hr>
        </div>
        <div class="row">
          <p class="subEventList">
            02-26-2023 6:00 AM Sacar al Perro <br>
            02-26-2023 2:30 PM Reunion con Jefe
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
