
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../assets/TTM-preview.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav header_Size">
        <a class="nav-link headerLink" routerLink="home">
          Inicio
          <img src="../assets/iconos/hogar.png" alt="Hogar" width="45" height="45" class="d-inline-block align-text-top">
        </a>
        <a class="nav-link headerLink" routerLink="create">
          Crear
          <img src="../assets/iconos/crear.png" alt="Hogar" width="55" height="55" class="d-inline-block align-text-top">
        </a>
        <a class="nav-link headerLink" routerLink="events">
          Eventos
          <img src="../assets/iconos/time_clock.png" alt="Hogar" width="45" height="45" class="d-inline-block align-text-top">
        </a>
      </div>
    </div>
  </div>
</nav>
<hr>
<router-outlet></router-outlet>
